<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.porting.android_is">

    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_standard"
        android:label="EV English Validation"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".gestioneStudente.Register"></activity>
        <activity android:name=".gestioneStudente.MainActivityStudente"></activity>
        <activity android:name=".gestioneSegreteria.MainActivitySegreteria"></activity>
        <activity android:name=".gestioneUtente.ViewActivityUtente"></activity>
        <activity android:name=".gestioneUtente.Guida"></activity>
        <activity android:name=".gestioneUtente.EditActivityUtente"></activity>
        <activity android:name=".gestioneAdmin.MainActivityAdmin"></activity>
        <activity android:name=".gestioneUtente.LoginActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>